name: pana
description: Evaluate the health and quality of a Dart package
version: 0.12.13-dev
homepage: https://github.com/dart-lang/pana
author: Dart Team <misc@dartlang.org>

environment:
  sdk: '>=2.0.0 <3.0.0'

dependencies:
  analyzer: ^0.34.2
  args: '>=0.13.7 <2.0.0'
  async: '>=1.13.3 <3.0.0'
  cli_util: ^0.1.3
  html: ^0.13.3
  http: '>=0.11.3 <0.13.0'
  io: ^0.3.3
  json_annotation: ^2.0.0
  logging: ^0.11.3+1
  markdown: ^2.0.2
  meta: ^1.1.7
  package_config: '>=0.1.5 <2.0.0'
  path: ^1.6.2
  pedantic: ^1.4.0
  pool: ^1.3.6
  pub_semver: ^1.4.2
  pubspec_parse: ^0.1.4
  quiver: '>=0.24.0 <3.0.0'
  resource: ^2.1.5
  yaml: ^2.1.15

dev_dependencies:
  build: ^1.1.0
  build_config: '>=0.2.1 <0.4.0'
  build_runner: ^1.1.3
  build_verify: ^1.1.1
  build_version: ^2.0.0
  json_serializable: ^2.0.1
  source_gen: ^0.9.0
  test: ^1.5.2
  test_descriptor: ^1.1.1
  test_process: ^1.0.4

executables:
  pana:
