name: pana
description: PAckage aNAlyzer - produce a report summarizing the health and quality of a Dart package.
version: 0.22.2-wip
repository: https://github.com/dart-lang/pana
topics:
  - tool

environment:
  sdk: ^3.2.0

dependencies:
  analyzer: '>=5.0.0 <7.0.0'
  args: ^2.0.0
  async: ^2.0.0
  cli_util: ^0.4.0
  collection: ^1.15.0
  crypto: ^3.0.0
  html: ^0.15.0
  http: ^1.0.0
  io: ^1.0.0
  json_annotation: ^4.8.1
  lints: ^3.0.0
  logging: ^1.0.0
  markdown: ^7.0.0
  meta: ^1.4.0
  path: ^1.6.2
  pub_semver: ^2.0.0
  pubspec_parse: ^1.2.2
  retry: ^3.0.1
  safe_url_check: ^1.0.0
  source_span: ^1.7.0
  string_scanner: ^1.1.0
  tar: ^1.0.0
  yaml: ^3.0.0
  test: ^1.5.2 # needed for lib/src/third_party/diff_match_patch/test.dart

dev_dependencies:
  build: ^2.0.1
  build_config: ^1.0.0
  build_runner: ^2.0.4
  build_verify: ^3.0.0
  build_version: ^2.0.0
  json_serializable: ^6.0.0
  shelf: ^1.0.0
  source_gen: ^1.0.0
  test_descriptor: ^2.0.0
  test_process: ^2.0.0
  archive: ^3.1.2

executables:
  pana:
