name: pana
description: PAckage aNAlyzer - produce a report summarizing the health and quality of a Dart package.
version: 0.23.2
repository: https://github.com/dart-lang/pana
topics:
  - tool
  - analysis

environment:
  sdk: '^3.9.0'

dependencies:
  analyzer: '>=8.4.0 <10.0.0'
  args: ^2.7.0
  async: ^2.13.0
  cli_util: ^0.4.2
  collection: ^1.19.1
  crypto: ^3.0.6
  html: ^0.15.6
  http: ^1.4.0
  io: ^1.0.5
  json_annotation: ^4.9.0
  lints: ^6.0.0
  logging: ^1.3.0
  markdown: ^7.3.0
  meta: ^1.17.0
  path: ^1.9.1
  pub_semver: ^2.2.0
  pubspec_parse: ^1.5.0
  retry: ^3.1.2
  safe_url_check: ^1.1.2
  source_span: ^1.10.1
  string_scanner: ^1.4.1
  test: ^1.26.2 # needed for lib/src/third_party/diff_match_patch/test.dart
  yaml: ^3.1.3

dev_dependencies:
  build: ^4.0.0
  build_config: ^1.1.2
  build_runner: ^2.5.2
  build_verify: ^3.1.1
  build_version: ^2.1.1
  dart_flutter_team_lints: ^3.5.1
  json_serializable: ^6.9.5
  shelf: ^1.4.2
  source_gen: ^4.0.0
  tar: ^2.0.0
  test_descriptor: ^2.0.2
  test_process: ^2.1.1

executables:
  pana:
