name: pana
description: Evaluate the health and quality of a Dart package
version: 0.16.0
homepage: https://github.com/dart-lang/pana

environment:
  sdk: ">=2.10.0 <3.0.0"

dependencies:
  analyzer: ">=0.41.0 <2.0.0"
  args: ">=1.6.0 <3.0.0"
  async: ">=1.13.3 <3.0.0"
  cli_util: ">=0.2.0 <0.4.0"
  html: ">=0.13.3 <0.16.0"
  http: ">=0.11.3 <0.14.0"
  io: ">=0.3.4 <2.0.0"
  json_annotation: ">=2.0.0 <5.0.0"
  logging: ">=0.11.3+1 <2.0.0"
  markdown: ">=3.0.0 <5.0.0"
  meta: ^1.1.7
  path: ^1.6.2
  petitparser: ^4.1.0
  pub_semver: ">=1.4.0 <3.0.0"
  pubspec_parse: ">=0.1.4 <2.0.0"
  quiver: ">=0.24.0 <4.0.0"
  retry: ^3.0.1
  safe_url_check: ^1.0.0
  source_span: ^1.7.0
  yaml: ">=2.1.15 <4.0.0"

dev_dependencies:
  build: ^1.1.0
  build_config: ^0.4.0
  build_runner: ^1.1.3
  build_verify: ^1.1.1
  build_version: ^2.0.0
  json_serializable: ">=3.2.0 <4.0.0"
  pedantic: ^1.4.0
  shelf: ">=0.7.9 <2.0.0"
  source_gen: ^0.9.0
  tar: ^0.3.0
  test: ^1.5.2
  test_descriptor: ">=1.1.1 <3.0.0"
  test_process: ">=1.0.4 <3.0.0"

executables:
  pana:
