name: pana
description: Evaluate the health and quality of a Dart package
version: 0.20.2-dev
homepage: https://github.com/dart-lang/pana

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  analyzer: '^2.1.0'
  args: ^2.0.0
  async: ^2.0.0
  cli_util: ^0.3.0
  collection: ^1.15.0
  html: ^0.15.0
  http: ^0.13.0
  io: ^1.0.0
  json_annotation: ^4.0.0
  logging: ^1.0.0
  markdown: ^4.0.0
  path: ^1.6.2
  pub_semver: ^2.0.0
  pubspec_parse: ^1.0.0
  quiver: ^3.0.0
  source_span: ^1.7.0
  tar: ^0.5.0
  yaml: ^3.0.0
  safe_url_check: ^1.0.0
  retry: ^3.0.1
  meta: ^1.4.0

dev_dependencies:
  build: ^2.0.1
  build_config: ^1.0.0
  build_runner: ^2.0.4
  build_verify: ^2.0.0
  build_version: ^2.0.0
  json_serializable: ^5.0.0
  lints: ^1.0.0
  shelf: ^1.0.0
  source_gen: ^1.0.0
  test: ^1.5.2
  test_descriptor: ^2.0.0
  test_process: ^2.0.0
  archive: ^3.1.2

executables:
  pana:
