name: pana
description: Evaluate the health and quality of a Dart package
version: 0.2.3
homepage: https://github.com/dart-lang/pana
author: Dart Team <misc@dartlang.org>

environment:
  sdk: '>=1.20.1 <2.0.0'

dependencies:
  analyzer: ^0.30.0
  cli_util: ^0.1.1
  logging: ^0.11.3+1
  path: ^1.4.1
  pool: ^1.3.0
  pub_semver: ^1.3.2
  quiver: '>=0.24.0 <0.26.0'
  yaml: ^2.1.12

dev_dependencies:
  test: ^0.12.0
